<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Разрешение на использование камеры -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Фикс ошибки №1: Указываем, что камера нужна, но приложение может работать и без неё (для совместимости) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_view"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_view"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>